In [1]:
str1 = 'exterminate!' 
str2 = 'number one - the larch'

In [2]:
str1.upper

In [3]:
str1.upper()

'EXTERMINATE!'

In [4]:
str2 = str2.capitalize()

In [5]:
str2

'Number one - the larch'

In [7]:
str2.swapcase()

'nUMBER ONE - THE LARCH'

In [8]:
str1.index('e')

0

In [9]:
str2.index('n')

8

In [10]:
str2.find('n')

8

In [11]:
str2.index('!')

ValueError: substring not found

In [12]:
str2.find('!')

-1

In [13]:
str1.count('e')

3

In [14]:
str1 = str1.replace('e', '*')
str1

'*xt*rminat*!'

In [16]:
str2.replace('one', 'seven')

'Number seven - the larch'

Write a program that prints the number of times the string 'bob' occurs in s. For example, if s = 'azcbobobegghakl', then your program should print 'Number of times bob occurs is: 2'

In [34]:
s = 'azcbobobegghakl'
sub = 'bob'
count = 0

for i in range(len(s)):
    if(s[i:i+3] == sub):
        count+= 1
print(count)

2

Write a program that prints the longest substring of s in which the letters occur in alphabetical order. For example, if s = 'azcbobobegghakl', then your program should print 'beggh'

In [59]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'

s='abcbcd'
result = ''
for i in range(len(s)):
    if(s[i]!=s[len(s)-1]):
        if(alphabet.index(s[i])<=alphabet.index(s[i+1])):
            result+=s[i]
        else:
            result+=s[i]+'_'
    else:
        if(alphabet.index(s[i])>=alphabet.index(s[i-1])):
            result+=s[i]
print(result)    
result = result.split('_')
size = 0
for i in result:
    if(len(i)>size):
        size = len(i)
        substring = i
print(substring)
#or
max(result, key=len)

abc_bcd
abc

'abc'

In [69]:
balance = 4842
total = 0
for i in range(1,13):
    print("Month "+str(i))
    print("Starting balance "+str(balance))
    minimum = round(balance*0.04,2)
    total+=minimum
    print("Minimum payment "+str(minimum))
    unpaid = round(balance - minimum,2)
    print("Unpaid balance "+ str(unpaid))
    interest = round((0.2/12)*unpaid,2)
    print("Monthly interest "+str(interest))
    balance = round(unpaid + interest,2)
    
print("Total paid "+str(total))

Month 1
Starting balance 4842
Minimum payment 193.68
Unpaid balance 4648.32
Monthly interest 77.47
Month 2
Starting balance 4725.79
Minimum payment 189.03
Unpaid balance 4536.76
Monthly interest 75.61
Month 3
Starting balance 4612.37
Minimum payment 184.49
Unpaid balance 4427.88
Monthly interest 73.8
Month 4
Starting balance 4501.68
Minimum payment 180.07
Unpaid balance 4321.61
Monthly interest 72.03
Month 5
Starting balance 4393.64
Minimum payment 175.75
Unpaid balance 4217.89
Monthly interest 70.3
Month 6
Starting balance 4288.19
Minimum payment 171.53
Unpaid balance 4116.66
Monthly interest 68.61
Month 7
Starting balance 4185.27
Minimum payment 167.41
Unpaid balance 4017.86
Monthly interest 66.96
Month 8
Starting balance 4084.82
Minimum payment 163.39
Unpaid balance 3921.43
Monthly interest 65.36
Month 9
Starting balance 3986.79
Minimum payment 159.47
Unpaid balance 3827.32
Monthly interest 63.79
Month 10
Starting balance 3891.11
Minimum payment 155.64
Unpaid balance 3735.47
Monthly interest 62.26
Month 11
Starting balance 3797.73
Minimum payment 151.91
Unpaid balance 3645.82
Monthly interest 60.76
Month 12
Starting balance 3706.58
Minimum payment 148.26
Unpaid balance 3558.32
Monthly interest 59.31
Total paid 2040.63

In [72]:
balance = 3329
total = 0
for i in range(1,13):
    print("Month "+str(i))
    print("Starting balance "+str(balance))
    interest = round((0.2/12)*balance,2)
    print("Monthly interest "+str(interest))
    balance = round(balance + interest,2)
    
print("Total balance to be paid "+str(balance))
print("minimum monthly payment "+str(round(balance/12,2)))

Month 1
Starting balance 3329
Monthly interest 55.48
Month 2
Starting balance 3384.48
Monthly interest 56.41
Month 3
Starting balance 3440.89
Monthly interest 57.35
Month 4
Starting balance 3498.24
Monthly interest 58.3
Month 5
Starting balance 3556.54
Monthly interest 59.28
Month 6
Starting balance 3615.82
Monthly interest 60.26
Month 7
Starting balance 3676.08
Monthly interest 61.27
Month 8
Starting balance 3737.35
Monthly interest 62.29
Month 9
Starting balance 3799.64
Monthly interest 63.33
Month 10
Starting balance 3862.97
Monthly interest 64.38
Month 11
Starting balance 3927.35
Monthly interest 65.46
Month 12
Starting balance 3992.81
Monthly interest 66.55
Total balance to be paid 4059.36
minimum monthly payment 338.28